*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	cursor:default;
}
html{
	height:100vh;
	background-color: rgb(102, 204, 250);
	background-image: url("./imgs/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
}
button{
	display:block;
	width:300px;
	font-size:3em;
	text-align: center;
	margin:50px auto 0 auto;
	border-radius:10px;
	padding:10px 20px;
	border:none;
	box-shadow: 0 0 3px black;
	transition: all linear 40ms;
	cursor:pointer;
}
button:hover{
	box-shadow: 0 0 4px black;
	transform:scale(1.1);
}
button:active{
	border:none;
	transform:scale(1);
}
button:focus{
	outline:0;
}
#show-clock{
	margin-top:300px;
	transition:all linear 300ms;
}

.invisible{
	visibility:hidden;
	opacity:0.2;
	transition: all linear 500ms;
	display:none;
}

#clock{
	position:relative;
	width:500px;
	height:500px;
	margin:20px auto 0 auto;
	border-radius:50%;
	border:1px solid rgb(200,200,200);
	transform:rotate(-90deg) translateY(-3px);
	box-shadow: 0px 0 25px black;
	transition: all linear 200ms;
}
.hand{
	position:absolute;
	height:3px;
	border-radius:15px;
	top:50%;
	left:50%;
	box-shadow: 0 0 15px black;
	transform-origin:0%;
	transition: all cubic-bezier(0, 1.74, 0, 1.49) 80ms;
	transform:rotate(0deg);
	background-color:rgb(255,204,0);
}

#hours-pointer{
	width:100px;
}
#minutes-pointer{
	width:170px;
}
#seconds-pointer{
	width:210px;
	height:1px;
	background-color:rgb(255,26,26);
}
#hours-pointer::after{
	content:url("./imgs/pointer.svg");
	position:absolute;
	top:-11px;
	right:-8px;
	height:25px;
	width:25px;
}

#minutes-pointer::after{
	content:url("./imgs/pointer.svg");
	position:absolute;
	top:-13px;
	right:-8px;
	height:29px;
	width:29px;
}

/*Standard CSS to center an absolute element in a relative environment is:
	width:40px;
	height:40px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-20px ---half of the height;
	margin-left:-20px --- half of the width;
*/
#facebook img{
	transform:rotate(90deg);
	opacity:0.9;
	width:40px;
	height:40px;
	position:absolute;
	top:50%;
	margin-top:-20px;
	left:50%;
	margin-left:-20px;
	transition:all linear 200ms;
	cursor:pointer;
}
#facebook img:hover{
	transform:rotate(450deg);
	width:50px;
	height:50px;
	margin-top:-25px;
	margin-left:-25px;
	opacity:1;
}

footer{
	position:relative;
	text-align: right;
	margin-top:50px;
	margin-right:10px;
}
footer a{
	color:black;
	cursor:pointer;
}

footer img{
	width:15px;
	height:15px;
	display:inline-block;
	top:3px;
}
